﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Email Campaign Optimizer</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/functions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/rules.js")" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <div id="masthead">
		<h1><a href="/">Constant Contact</a></h1>
    </div>
    @RenderBody()
	<div id="footer" class="cf">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>
 		<img src="/Content/Images/eco_ftr.png" width="399" height="23">
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "emailcampaignoptimizer";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";








    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>
