/*
Reset
************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
}
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers. 
   There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img, object, embed {
	max-width: 100%;
}
/* force a vertical scrollbar to prevent a jumpy page */
html {
	overflow-y: scroll;
}
/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-weight: bold;
	vertical-align: bottom;
}
td {
	font-weight: normal;
	vertical-align: top;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
pre {
	white-space: pre;
	/* CSS2 */
  white-space: pre-wrap;
	/* CSS 2.1 */
  white-space: pre-line;
	/* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
/* IE */ }
input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
 *vertical-align: baseline;
}
.ie6 input {
	vertical-align: text-bottom;
}
select, input, textarea {
	font: 99% sans-serif;
}
table {
	font-size: inherit;
	font: 100%;
}
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}
small {
	font-size: 85%;
}
strong, th {
	font-weight: bold;
}
td, td img {
	vertical-align: top;
}
/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* standardize any monospaced elements */
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=password], input[type=submit], button {
	cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
	margin: 0;
}
/* make buttons play nice in IE */
button {
	width: auto;
	overflow: visible;
}
/* scale images in IE7 more attractively */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}
/* prevent BG image flicker upon hover */
.ie6 html {
 filter: expression(document.execCommand("BackgroundImageCache", false, true));
}
/* let's clear some floats */
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
.clear {
	clear:both;
}
/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
	font: 13px Helmet, Freesans, sans-serif;
}
/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-black for text */
body, select, input, textarea {
	color: #333;
}
a {
	color: #03f;
}
a:hover {
	color: #69f;
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
 background: #FFD67D;
 color: #fff;
 text-shadow: none;
}
::selection {
	background: #FFD67D;
	color: #fff;
	text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */
a:link {
	-webkit-tap-highlight-color: #fcd700;
}
ins {
	background-color: #fcd700;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #fcd700;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
/* Print styles!
-------------------------------------------------------------------------------*/
/* Media queries!
-------------------------------------------------------------------------------*/
/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
/*
Utilities
************************/
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
.hidden {
	display:none;
}
.loadingspinner {
	margin-top:2em;
}
/*
Main
***************************/
html {
	background: url(images/bodybg.gif);
}
body {
	font: 100%/1.5 sans-serif;
	text-shadow: 0 1px 0 #fff;
}
p {
	margin-bottom: 1.1em;
}
a {
	color: #3E69BD;
}
a:hover {
	color: #3E69BD;
	opacity: .8;
	text-decoration: none;
}
h1, h2, h3, h4 {
	letter-spacing: -1px;
	padding: .6em 0;
}
h1 {
    color:#DB9C1A;
	font-size: 1.5em;
}
h2 {
	font-size: 1.1em;
	padding: 1em 0;
}
h3, h4 {
	padding: 0 0 .2em;
}
h4 {
	display: inline-block;
}
div > label {
	display: block;
	margin-top: .8em;
}
form li {
	margin-bottom: .8em;
}
dl {
	counter-reset: term definition;
	margin-left: 30px;
}
dt {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: -1px;
}
dt:before {
	counter-increment: term;
	content: counter(term, upper-latin) ". ";
}
dd {
	padding-bottom: 1.3em;
	margin-left: 0;
	padding-left: 1.1em;
}
dd span {
	display: inline-block;
	padding: 5px 8px;
	margin-bottom: .4em;
	background: #fff;
	width: auto;
	color: #00468C;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input {
	margin-bottom: .4em;
	color: #7f7f7f;
}
input:focus {
	border: 1px solid #FFC53F;
}
input[type="email"], input[type="text"], input[type="textbox"], input[type="password"], select, textarea {
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #eaeaea;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 9px 8px 6px;
	width: 300px;
	color: #444;
}
textarea {
	width:95% !important;
}
input[type="text"], input[type="password"], select {
	width: 200px;
}
select {
	padding: 4px;
	width: auto;
}
input[type="submit"] {
	border: none;
	background: #368189;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #368189)), color-stop(0, #40a4ad);
	background-image: -moz-linear-gradient(center bottom, #368189 0%, #40a4ad 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	color: #fff;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 1em;
	font-weight: bold;
	margin-top: 10px;
	padding: 6px 16px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
input[type="submit"]:hover {
	background: #368189;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #368189), color-stop(1, #4bcad6));
	background-image: -moz-linear-gradient(center bottom, #368189 0%, #4bcad6 100%);
}
#opti-emailtoken input[type="submit"] {
	float: none;
	margin-top: 20px;
}
input[type="radio"] {
	position: relative;
	top: 3px;
	margin-right: 6px;
}
#wrapper {
	margin: 0 auto;
	width: 960px;
}
/*
Masthead
***************************/
#masthead {
	padding: 20px 20px 15px;
}
#masthead h1 {
	background: url(images/eco_logo_alpha.png) no-repeat left top;
	height: 51px;
	padding: 0;
	text-indent: -9999px;
	width: 450px;
}
#masthead h1 a {
	display: block;
	height: 51px;
	width: 450px;
}
/*
Content
***************************/
#content {
	background: url(images/noise.gif);
	border: 1px solid #efefef;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	font-size: .9em;
	margin-bottom: 30px;
	min-height: 500px;
	padding: 20px;
	position: relative;
}
#content:after {
	background: url(images/btm-shadow.png) no-repeat center center;
	bottom: -20px;
	content: "";
	height: 20px;
	position: absolute;
	width: 960px;
}
#opt-create-info1, #opt-create-info2 {
	display: none;
	margin: 0 20px 20px 20px;
}
h2:first-of-type {
	padding-top:0;
}
.confirm {
	background: url(images/check.png) no-repeat left center;
	margin: 1em 0;
	padding-left: 50px;
}

.failure 
{
	background: url(images/failure.png) no-repeat scroll left 5px transparent;
}
/*
Report
***************************/
dt h2 {
	margin:0 0 1em;
	padding:0;
	display:inline-block;
	line-height:normal;
}
#report-title.report-hdr {
	cursor: default;
}
#report-title h2 {
	color: #3f69bd;
	font-size: 1.7em;
	padding-bottom: .5em;
	text-shadow: 0 1px 0 #fff;
	display:block;
}
.report-hdr {
	background: #fff;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e8e8e8), color-stop(1, #fdfdfd));
	background-image: -moz-linear-gradient(center bottom, #e8e8e8 0%, #fdfdfd 100%);
	border: 1px solid #dbdbdb;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 1em;
	box-shadow: 0 25px 15px -25px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.report-hdr h2 {
	color: #d99d1c;
	display: inline-block;
	font-size: 1.3em;
	line-height: 1;
	padding: 0 10px 0 0;
	width: 860px;
	margin-bottom:.3em;
}
.report-hdr h3, .report-hdr h4 {
	display: inline-block;
}
.report-hdr h4 {
	color: #000;
	font-size: 1.3em;
	line-height: 1.1;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
	position:absolute;
	left: 885px;
	top:10px;
}
.report-hdr p {
	line-height: 1;
	clear:left;
	margin-bottom:.2em;
}
#report-summary .report-hdr {
	box-shadow: none;
}
#report-summary .report-hdr h2 {
	float: left;
}
#report-summary .report-hdr:hover {
	background: #D89C1A;
	color: #fff;
	text-shadow: none;
}
#report-summary .report-hdr:hover h2, #report-summary .report-hdr:hover h4, #report-summary .report-hdr:hover strong {
	color: #fff;
	text-shadow: none;
}
.report-dtl-active {
	background: #D89C1A;
	color: #fff;
	text-shadow: none;
}
.report-dtl-active h2, .report-dtl-active h4 {
	color: #fff;
	text-shadow: none;
}
.report-dtl-active h2 strong, .report-dtl-active h4 strong {
	color: #fff;
}
.report-dtl {
	display: none;
}
.report-dtl p {
	padding-left: 25px;
}
.bulb {
	background: url(images/bulb.png) no-repeat left 5px;
}
.check {
	background: url(images/check-sm.png) no-repeat left 5px;
}
.fail {
	background: url(images/failure.png) no-repeat left 5px;
}
dd.tip {
	background: url(images/bulb.png) no-repeat 5px;
	background-position: top left;
}
img.tip {    
    margin-right:10px;
    position:relative;
    top:3px;
}
#score {
	background: #3f69bd;
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	color: #fff;
	text-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	float: right;
	padding: 0 10px;
	text-align: center;
}
#score span {
	display: block;
	font-size: 3.3em;
	font-weight: bold;
	letter-spacing: -0.08em;
	line-height: 1;
	padding: 0 0 5px;
}
#score h3, #score h4 {
	display: block;
}
/*
Learn More
************************/
.learnMoreContainer {
	clear:both;
	padding-top:.3em;
}
.learnmoretext {
	margin-top:1em;
}
.learnmoretext ul {
	margin:0 0 20px 20px
}
.learnmoretext li {
	list-style:initial;
	margin-left:10px;
	list-style-position:outside;
	margin-bottom:10px;
}
.learnmoretext h2 {
	padding:0 0 .6em;
}
.learnmoretext h3 {
    letter-spacing:normal;
}
.learnmoretext p {
	padding:0;
}
.learnmoretext a[href*="http://"] {
   background: transparent url(images/icon-external.gif) no-repeat right center;
   padding-right: 18px; 
}
.learnmorelink {
	background:url(images/learnmore-icon2.png)left 4px no-repeat;
	padding-left:18px;
	text-decoration:none;
}
.learnmore-active {
	color:#D89C1A;
	text-decoration:none;
	background-position:left -11px;
}
.learnmore-active:hover {
	color:#D89C1A;
	opacity:1;
}
.learnMoreInnerContainer {
	margin:15px 0 15px 40px;
}
.topicContainer {
	margin-bottom:15px;
}
.learnMoreInnerContainer h3 {
	margin-top:15px;
}
.editableTextArea {
	margin: 10px 0;
}
/*
Share
************************/
#share {
	display: inline-block;
	margin: 0 0 -2px 5px;
}
#share li {
	float: left;
	display: inline;
	margin-right: 5px;
}
#share a {
	background: url(images/sm-icons.png) no-repeat;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}
#share #fb a {
	background-position: center top;
}
#share #tw a {
	background-position: center -16px;
}
#share #li a {
	background-position: center -32px;
}
/*
Admin
***************************/
.editableTextBox:hover {
	opacity:.8;
}
.buttonContainer {
	margin:1em 0;
}
.buttonContainer input {
	float:left;
}
#admin h2 {
	font-size:1.7em;
}
#admin #content {
	background:#fff;
}
#admin .ajaxForm {
	margin-bottom:1em;
	clear:both;
}
.editableTextBox {
	margin-right:10px;
	font-weight:bold;
	text-decoration:none;
}
#admin input[type="submit"], #admin input[type="button"] {
	padding:2px 4px;
	text-transform:uppercase;
	margin:0;
}
#admin input[type="button"] {
	background:none;
	border:none;
	color:#555;
	text-decoration:underline;
	margin-right:10px;
}
#admin input[type="button"]:hover {
	text-decoration:none;
}
#ajaxMessageBox {
	color:red;
}
/*
Footer
***************************/
#footer {
	padding: 0 20px 20px;
	position:relative;
}
#footer img {
	position:absolute;
	right:16px;
	top:0;
}
#footer ul {
	overflow:auto;
}
#footer li {
	display:inline;
}
#footer li a {
	background: url("Images/eco-footer-sep.gif") no-repeat scroll right 3px transparent;
	color: #A3A3A3;
	display: inline;
	float: left;
	font-size: 0.75em;
	margin-right: 1.2em;
	padding-right: 23px;
	text-decoration: none;
	text-shadow: none;
}
#footer li a:hover {
	color:#fff;
}
#footer li:last-child a {
	background:none;
}
.listManager {
	width: 375px;
	margin: 15px 0 15px 40px
}
.listManager h3 {
	float :left;
	margin-right: 200px;
}
.listManager input[type='submit'] {
	float: left;
	width: 375px;
}
.listManager ul {
	background: #EAEAEA;
	padding: 10px 0 5px 20px;
	list-style: circle;
	margin-bottom: 10px;
}
.listManager li a {
	margin-left: 10px;
	font-size: 10pt;
	text-decoration: none;
}
.sectionWeightContainer {
	margin-left: 30px;
}
