﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "Email Campaign Optimizer - Management Tool" : ViewBag.Title)
    </title>    
    <link rel="stylesheet" href="@Url.Content("~/content/style.css")">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
</head>
<body id="admin">
<div id="wrapper">
    <div id="masthead">
        <h1><a href="/">Constant Contact</a></h1>            
    </div>
    @RenderBody()
    <div id="footer" class="cf">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>
 		<img src="/Content/Images/eco_ftr.png" width="399" height="23">
	</div>
</div>
</body>
</html>
