﻿@model EmailCampaignOptimizer.Areas.Admin.Models.Sections.ManageSectionsViewModel
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/scripts/jquery.form.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/jquery.editformlink.js")"></script>
<script type="text/javascript">
    $(function() {
        $(".editFormLink").editFormLink();
    });
</script>
<div id="content">
    <h3 id="ajaxMessageBox"></h3>
    <h2>Sections</h2>
    <p>These are the top-level Sections of the ECO report. Click a section to view its topics or use the Edit link to edit the Section name.</p>

    @for(var i = 0; i < Model.Sections.Count; i++){
    
        var section = Model.Sections[i];                
        using(Html.BeginForm("updatesectionname", "sections", new { id = section.Id},  FormMethod.Post, new { @class = "ajaxForm" })){            
            <span class='listPrefix'>@(i + 1).</span>
            @Html.ActionLink(section.Name, "section", "sections", new { id = section.Id }, new { @class = "editableTextBox", name = "name" })
            <a href="javascript:" class="editFormLink">Edit</a>            
        } 
        <div class='sectionWeightContainer'>
            <h3 class="toggleLink">Weight</h3>
            @using (Html.BeginForm("updatesectionpercentage", "sections", new { id = section.Id }, FormMethod.Post, new { @class = "ajaxForm " }))
                {
                <span class="editableTextArea" name="percentage">
                    @(section.Percentage)%
                </span>
                <a href="javascript:" class="editFormLink">Edit</a>
                }
            <div class='clear'></div>
        </div>
    }
</div>