﻿@model EmailCampaignOptimizer.Areas.Admin.Models.Sections.ManageRuleViewModel
<div class='listManager'>
    @using (Html.BeginForm("updateruledictionary", "sections", new { Id = Model.Id }, FormMethod.Post, new { @class = "complexForm" }))
    {
        <h3>Dictionary</h3>
        <div class='clear'>
        </div>
        <ul>
            @foreach (var entry in Model.Dictionarys)
            {
                <li>
                    <label>@entry.Value</label>
                </li>
            }
        </ul>   
        <input type="submit" value='Save' />
    }
</div>
