﻿@model EmailCampaignOptimizer.Areas.Admin.Models.Sections.ManageSectionViewModel
@{
    ViewBag.Title = "Section";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/scripts/tiny_mce/jquery.tinymce.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/tiny_mce/tiny_mce.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/jquery.form.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/jquery.editformlink.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/jquery.clearformlink.js")"></script>
<script type="text/javascript">
    $(function () {
        $(".editFormLink").editFormLink();
        $(".clearFormLink").clearFormLink();
        $(".learnMoreLink").click(function () { $(this).next().toggle(); });
    });
</script>
<div id="content">
    <h3 id="ajaxMessageBox"></h3>
    <h2>@Model.Name</h2>     
    <p><strong>&larr; @Html.ActionLink("Back", "index", "sections")</strong></p>
    <p>These are the topics within the section. Use the Edit links to edit the topic names. Use the Learn More link to view and edit additional information for each topic.</p>

    @for (var i = 0; i < Model.Topics.Count; i++)
    {
        var topic = Model.Topics[i]; 
        <div class="topicContainer">
            @using (Html.BeginForm("updatetopicname", "sections", new { id = topic.Id }, FormMethod.Post, new { @class = "ajaxForm" }))
            {
                <span class='listPrefix'>@(i + 1).</span> @Html.ActionLink(topic.Name, "topic", "sections", new { id = topic.Id }, new { @class = "editableTextBox", name = "name" })
                <a href="javascript:" class="editFormLink">Edit</a> 
            }
            <div class="learnMoreContainer">
                <a href='javascript:' class="learnMoreLink">Learn More</a>
                <div class="learnMoreInnerContainer hidden">
                
                    @using (Html.BeginForm("updatetopicmoreinformation", "sections", new { id = topic.Id }, FormMethod.Post, new { @class = "ajaxForm" }))
                    {
                        <h3>Tips <a href="javascript:" class="editFormLink">Edit</a> <a href="javascript:" class="clearFormLink">Clear</a></h3>
                        <span class="editableTextArea" data-tinymce="true" name="MoreInformation">
                            @(new MvcHtmlString(topic.MoreInformation))
                        </span>
                    
                    }
                
                    @using (Html.BeginForm("updatetopicexamples", "sections", new { id = topic.Id }, FormMethod.Post, new { @class = "ajaxForm" }))
                    {
                        <h3>Examples <a href="javascript:" class="editFormLink">Edit</a> <a href="javascript:" class="clearFormLink">Clear</a></h3>
                        <div class="editableTextArea" data-tinymce="true" name="Examples">
                            @(new MvcHtmlString(topic.Examples))
                        </div>
                    
                    }
                
                    @using (Html.BeginForm("updatetopicadditionalresources", "sections", new { id = topic.Id }, FormMethod.Post, new { @class = "ajaxForm" }))
                    {
                        <h3>Resources <a href="javascript:" class="editFormLink">Edit</a> <a href="javascript:" class="clearFormLink">Clear</a></h3>
                        <span class="editableTextArea" data-tinymce="true" name="AdditionalResources">
                            @(new MvcHtmlString(topic.AdditionalResources))
                        </span>
                    
                    }
                </div>
            </div>
        </div>
        <div class="clear"></div>
    }
</div>