﻿@model EmailCampaignOptimizer.Areas.Admin.Models.Sections.ManageTopicViewModel
@{
    ViewBag.Title = "Topic";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/scripts/jquery.form.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/jquery.editformlink.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/jquery.listmanager.js")"></script>
<script type="text/javascript">
    $(function () {
        $(".editFormLink").editFormLink();
        $(".toggleLink").click(function () { $(this).next().toggle(); });

        $(".complexForm").ajaxForm(function (result) {
            $("#ajaxMessageBox").html(result);
        });
    });
</script>
<div id="content">
    <h3 id="ajaxMessageBox"></h3>
    <h2>Items for Topic : @Model.Name</h2>    
    <p><strong>&larr; @Html.ActionLink("Back", "section", "sections", new { id = Model.SectionId }, new { })</strong></p>
    <p>These are the items (rules) within the topic. Each one has a success message that is shown if the email passes the rule. Otherwise, the fail message is shown.</p>
    @for (var i = 0; i < Model.Rules.Count; i++)
    {
    var rule = Model.Rules[i]; 
    
    <div class="learnMoreContainer">
        <span class='listPrefix'>@(i + 1). @rule.Name</span>
        <br />
        <div class="learnMoreInnerContainer">
            <h3 class="toggleLink">Status</h3>
            @using (Html.BeginForm("updaterulestatus", "sections", new { id = rule.Id }, FormMethod.Post, new { @class = "ajaxForm " }))
            {
                <span>Enabled:</span>
                <span class="editableCheckBox" name="enabled">@rule.Enabled</span>
                <a href="javascript:" class="editFormLink">Edit</a>
                }
            <div class='clear'></div>
            <h3 class="toggleLink">Weight</h3>
            @using (Html.BeginForm("updateruleweight", "sections", new { id = rule.Id }, FormMethod.Post, new { @class = "ajaxForm " }))
                {
                <span class="editableTextArea" name="weight">
                    @rule.Weight
                </span>
                <a href="javascript:" class="editFormLink">Edit</a>
                }
            <div class='clear'></div>
            <h3 class="toggleLink">Success Message</h3>
            @using (Html.BeginForm("updaterulesuccessmessage", "sections", new { id = rule.Id }, FormMethod.Post, new { @class = "ajaxForm" }))
                {
                <span class="editableTextArea" name="successMessage">
                    @(new MvcHtmlString(rule.SuccessMessage))
                </span>
                <a href="javascript:" class="editFormLink">Edit</a>
                }
            <div class='clear'></div>
            <h3 class="toggleLink">Fail Message</h3>
            @using (Html.BeginForm("updaterulefailmessage", "sections", new { id = rule.Id }, FormMethod.Post, new { @class = "ajaxForm" }))
                {
                <span class="editableTextArea" name="failMessage">
                    @(new MvcHtmlString(rule.FailMessage))
                </span>
                <a href="javascript:" class="editFormLink">Edit</a>
                }
            <div class='clear'></div>
        </div>
        @{Html.RenderPartial("ManageRuleDictionaryPartial", rule);}
    </div>
    }
</div>