﻿@model EmailCampaignOptimizer.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <h1>Score Better Results.</h1>
    <p>Simply send us your latest email campaign, and our free tool will analyze it, score it, and tell you exactly how to make it even better! We’ve poured everything we’ve learned about what works best into the brain of the Optimizer. Try it out today, and score better results tomorrow!</p>
    <p>Still not sold? <a target="_blank" href="http://emailcampaignoptimizer.com/optimize/getreport?reportId=ef272d8">See an example report</a>.</p>
    @using (Html.BeginForm("register", "optimize", FormMethod.Post, new{@class = "cf"}))
    {
        <h2> Enter your email address to get started...</h2>
        <input type="email" name="EmailAddress" placeholder="me@mycompany.com" />
        <h2>About your business...</h2>
        <select name="Industry" id="industryselector">
            <option value="" selected="selected">Select your industry...</option>
            <option value="accountant">Accountant/Financial Advisor</option><option value="art_gallery">Art Galleries/Museums</option><option value="association">Association or membership organization</option><option value="products_and_services">Business products and services</option><option value="communications">Communications</option><option value="consultant">Consultant (ex. marketing, management)</option><option value="crafts">Crafts</option><option value="education_and_services">Education and services</option><option value="entertainment">Entertainment (ex. musicians, theatre, film)</option><option value="event_planner">Event planner</option><option value="franchise">Franchise</option><option value="gov_agency">Government agency or services</option><option value="medical_services">Medical services</option><option value="hotel_inn_and_bb">Hotel, Inn, B&amp;B</option><option value="legal_services">Legal services</option><option value="manufacturing_and_dist">Manufacturing and distribution</option><option value="marketing_pr">Marketing/Adv/PR Agency</option><option value="nonprofit">Nonprofit</option><option value="office_supplies">Office supplies</option><option value="personal_services">Personal services (ex. dry cleaning, photography)</option><option value="professional_services">Professional services</option><option value="publishing">Publishing</option><option value="real_estate">Real estate</option><option value="religious_org">Religious organization</option><option value="restaurant_bar_cater">Restaurant, bar, caterer</option><option value="retail">Retail (online and offline)</option><option value="salon_spa">Salon and spa</option><option value="sports_and_rec">Sports and recreation</option><option value="technology">Technology</option><option value="transportation">Transportation</option><option value="travel_and_tourism">Travel and tourism</option><option value="web_developer">Web developer</option><option value="other">Other</option>
        </select>
        <div class="hidden" id="otherindustryinput">
            <label>
                What's Other?</label>
            <input id="otherindustryinput" type="text" name="IndustryOther" value=""/>
        </div>
        <h2>Finally, how did you create this email?</h2>
            
        <ul>
            <li>
                <input name="opt-create" id="ctct-cstmr" type="radio" value="ctct-cstmr"/>
                <label for="ctct-cstmr">
                    I used Constant Contact</label></li>
            <div id="opt-create-info1">
                <p>Provide your Constant Contact credentials to see how your email stats compare with others and how you've improved over time!</p>
                <label>
                    User name</label>
                <input type="text" name="opt-username" value=""/>
                <label>
                    Password</label>
                <input type="password" name="opt-pswd" value=""/>
            </div>
            <li>
                <input name="opt-create" id="ctct-noncstmr" type="radio" value="ctct-noncstmr"/>
                <label for="ctct-noncstmr">
                    I used another product</label></li>
            <div id="opt-create-info2">
                <select name="CreationApplication" id="productselector">
                    <option>Choose the product you used</option>
                    <option value="outlook">MS Outlook</option>
                    <option value="iContact">iContact</option>
                    <option value="MailChimp">MailChimp</option>
                    <option value="VerticalResponse">VerticalResponse</option>
                    <option value="webmail">Webmail service (Gmail, Yahoo, AOL, etc)</option>
                    <option value="other">Other</option>
                </select>
                <div class="hidden" id="otherproductinput">
                    <label>
                        What's Other?</label>
                    <input id="otherindustryinput" type="text" name="CreationApplicationOther" value=""/>
                </div>
            </div>
        </ul>
        <input name="" type="submit" value="Next step" />
    }
</div>
