﻿@model EmailCampaignOptimizer.Models.ReportModel
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<div id="report-title" class="report-hdr cf">
        <div id="score">
			<h3>Campaign Score</h3>
			<span>@Model.Score</span>
        </div>
        <h2>Email Campaign Optimizer Report</h2>
        <p><strong>Email Subject:</strong> @Model.EmailSubject</p>
        <p><strong>Date:</strong> @(System.DateTime.Now.ToShortDateString())</p>
    </div>
    
    <p>Here's your optimized email report and score! We've got 6 sections of best practices and tips to share with you. Follow this advice and you'll be well on your way to creating remarkable campaigns!</p>
	<p><a href="#" id="eco-expand">Expand all</a> | <a href="#" id="eco-collapse">Collapse all</a></p>
	
	<ul id="report-summary">
	@foreach(var section in Model.Sections) {
		Html.RenderPartial("SectionPartial", section);
	}
	</ul>
</div>

