﻿@model EmailCampaignOptimizer.Models.ReportModel
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<div id="report-title" class="report-hdr cf">
        <div id="score">
			<h3>Campaign Score</h3>
			<span id="mscore">@Model.Score</span>
        </div>
        <h2>Email Campaign Optimizer Report</h2>
        <p><strong>Email Subject:</strong> @Model.EmailSubject</p>
        <p><strong>Date:</strong> @(System.DateTime.Now.ToShortDateString())</p>
    </div>
    
    <p>Here's your optimized email report and score! We've got 6 sections of best practices and tips to share with you. Follow this advice and you'll be well on your way to creating remarkable campaigns!</p>
	<p><a href="#" id="eco-expand">Expand all</a> | <a href="#" id="eco-collapse">Collapse all</a></p>
	
	<ul id="report-summary">
	</ul>


	<script type="text/javascript">

	    function addSectionPartial(section, secobj) {
	        var part = [];
	        part.push("<li><div class=\"report-hdr\">");
	        part.push("<h2>" + section.Id + ". " + section.Title + "</h2>");
	        if (section.Percentage == 0) { secobj.grade = ' '; }
	        part.push("<p> </p><h4>" + secobj.grade + "</h4></div>");
	        part.push("<dl class=\"report-dtl\">");

	        for (i in secobj.topics) {
	            var topic = secobj.topics[i].topic;
	            part.push("<dt><h2>" + topic.Title + "</h2></dt>");

                for (j in topic.ReportRules) {
                    var rule = topic.ReportRules[j];
                    if (rule.Success) {
                        part.push("<dd class=\"check\">" + rule.SuccessMsg + "</dd>");
                    } else {
                        if (rule.Weight == 0) {
                            part.push("<dd class=\"tip\">" + rule.FailMsg + "</dd>");
                        } else {
                            part.push("<dd class=\"failure\">" + rule.FailMsg + "</dd>");
                        }
                    }
                }

	            part.push("<dd><a href=\"#\" class=\"learnmorelink\">Learn More</a>");
	            part.push("<div class=\"learnmoretext\">");

	            if ((topic.MoreInfoLink != null) && (topic.MoreInfoLink != '')) {
	                part.push("<h3><img src=\"/content/images/bulb.png\" class=\"tip\"/>Tips</h3>");
	                part.push(topic.MoreInfoLink);
	            }

                if ((topic.ExamplesLink != null) && (topic.ExamplesLink != '')) {
                    part.push("<h3>Examples</h3>");
                    part.push(topic.ExamplesLink);
                }

                if ((topic.AdditionalResources != null) && (topic.AdditionalResources != '')) {
                    part.push("<h3>Resources</h3>");
                    part.push(topic.AdditionalResources);
                }

	            part.push("</div></dd>");
	        }

	        part.push("</dl></li>");
	        $("#report-summary").append(part.join(""));
	    }

	    function convertPercentToLetterGrade(p) {
	        p = p * 100;
	        if (p > 100 || p < 0) { return ""; }
	        if (p >= 95 && p <= 100) { return "A+"; }
	        if (p >= 90 && p < 95) { return "A"; }
	        if (p >= 85 && p < 90) { return "A-"; }
	        if (p >= 80 && p < 85) { return "B+"; }
	        if (p >= 75 && p < 80) { return "B"; }
	        if (p >= 70 && p < 75) { return "B-"; }
	        if (p >= 65 && p < 70) { return "C+"; }
	        if (p >= 60 && p < 65) { return "C"; }
	        return "C-";
	    }

	    $(function () {
	        var url = "getreportsections?reportId=@Model.ReportId";
	        $.ajax({
	            url: url,
	            dataType: 'json',
	            success: function (json) {
	                var reportSuccessGrade = 0.0;
	                var reportTotalGrade = 0.0;
	                var email = JSON.parse(json.report.Email);

	                $.each(json.sections, function (i, section) {
	                    secobj = new Object();
	                    secobj.successGrade = 0.0;
	                    secobj.totalGrade = 0.0;
	                    secobj.topics = new Array();

	                    $.each(section.Topics, function (j, topic) {
	                        secobj.topics[j] = new Object();
	                        secobj.topics[j].topic = topic;
	                        secobj.topics[j].rules = new Array();

	                        $.each(topic.ReportRules, function (k, rule) {
	                            if (rule.Enabled) {
	                                var valid = validate(email, rule);
	                                if (valid) { secobj.successGrade += rule.Weight; }
	                                rule.Success = valid;
	                                secobj.totalGrade += rule.Weight;
	                                secobj.topics[j].rules[k] = rule;
	                            }
	                        });
	                    });

	                    secobj.grade = convertPercentToLetterGrade(secobj.successGrade / secobj.totalGrade);
	                    reportSuccessGrade += secobj.successGrade * section.Percentage;
	                    reportTotalGrade += secobj.totalGrade * section.Percentage;
	                    addSectionPartial(section, secobj);
	                });

	                var score = convertPercentToLetterGrade(reportSuccessGrade / reportTotalGrade);
                    $('span#mscore').html(score);

	                mapActions();
	            },
	            error: function (error) {
	                $("#report-summary").append("<div>Problem processing report... refresh the page to retry.</div>");
	            }
	        });
	    });
    </script>

</div>

