﻿@model EmailCampaignOptimizer.Models.RulesModel

@if (Model.Success) {
    <dd class="check">@Model.ReturnMessage</dd>
} else {
    if (Model.RuleValue == 0) {
        <dd class="tip">@Model.ReturnMessage</dd>
    }
    else {
        <dd class="failure">@Model.ReturnMessage</dd>
    }
}
