﻿@model EmailCampaignOptimizer.Models.SectionModel
<li>
	<div class="report-hdr">
		<h2>@(Model.Id). @Model.Title</h2>
		<p> </p>
		<h4>@Model.Grade</h4>
	</div>
	<dl class="report-dtl">
		@foreach(var topic in Model.Topics) {
		Html.RenderPartial("TopicPartial", topic);
		}
	</dl>
</li>