﻿@model EmailCampaignOptimizer.Models.SendUsYourEmailModel
           
@{
    ViewBag.Title = "SendUsYourEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<h2 class="confirm">Great! Now send us your email.</h2>
	<script type="text/javascript">
	    function redirectToReport() {

			var loc = window.location;
			window.location.href = loc.protocol + "//" + loc.hostname + '@Url.Action("getreportclient", new { reportId = Model.EmailAddres.Split(new string[] { "@" }, StringSplitOptions.None)[0] })';
		}
		$(function () {
		    $("#startpollingbutton").click(function () {
		        $(this).hide();
                $("#checkyouremail").hide();
		        $(".loadingspinner").show();
		        function startpolling() {
		            var loc = window.location;
                    var url = loc.protocol + "//" + loc.host + '@Url.Action("getreportclient", new { reportId = Model.EmailAddres.Split(new string[] { "@" }, StringSplitOptions.None)[0] })';
		            $.get(url, function () {
		                window.location.href = url;
		            });
		            setTimeout(startpolling, 5000);
		        }
		        startpolling();
		    });
		});
	</script>
	<form id="opti-emailtoken" action="" method="get" onsubmit="return false;">
		Send your email to: <strong>@Model.EmailAddres</strong>
        <p>Using Constant Contact? From your email preview, send a test to the above address.</p>
		<input type="submit" value="I've sent my email!" id="startpollingbutton" />
        <div class="loadingspinner hidden">
            <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" /> Checking for your email... if this page doesn't refresh after a few minutes, check your email for a link to your report or try again.
        </div>
        <div id="checkyouremail">You can also check your email in a minute or two. We'll send you a link when your report is ready.</div>
	</form>
</div>
