﻿@model EmailCampaignOptimizer.Models.TopicModel
           
<dt><h2>@Model.Title</h2></dt>

@foreach(var rule in Model.Rules){
    Html.RenderPartial("RulePartial", rule);
}

<dd>
    <a href="#" class="learnmorelink">Learn More</a>
    <div class="learnmoretext">
        @if (!string.IsNullOrEmpty(Model.Tips))
        {         
        <h3><img src='@Url.Content("~/content/images/bulb.png")' class="tip" />Tips</h3>        
        @(new MvcHtmlString(Model.Tips))
        }
        @if (!string.IsNullOrEmpty(Model.Examples))
        {
        <h3>Examples</h3>
        @(new MvcHtmlString(Model.Examples))
        }
        @if (!string.IsNullOrEmpty(Model.Resources))
        {
        <h3>Resources</h3>
        @(new MvcHtmlString(Model.Resources))
        }
    </div>
</dd>
